@import "./utils/variables";



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Shrikhand;
}


.logo{
    width: 50%;
    display: block;
}

.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    padding: 1.2rem 20% 0.8rem 0px;
    background-color: $page-1-bg;

    
}

.img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;
}

.restaurant{
    position: relative;
    bottom: 3rem;
    width: 100%;

    &__name{
        display: flex;
        flex-direction: row;
        height: 100px;
        padding-left: 30px;
        padding-right: 30px;
        justify-content: space-between;
        align-items: center;
        background-color: #F2F2F2;
        border-radius: 2.5rem 2.5rem 0rem 0rem;

        & > .fa-regular{
            display: block;
        }


        & > h1{
            font-family: shrikhand;
            font-size: 28px;
        }
    }
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    padding: $box-padding;
    width: 100%;
    opacity: 0;
    animation: fadein 2s;
    animation-fill-mode: forwards;
    
    & h2{
    padding-top: 20px;
    font-size: 16px;
    font-weight: 300;
    text-shadow: 1px 1px 2px;
    }

    & .line{
        width: 40px;
        height: 10px;
        border-bottom: 3px solid $tertiary-color;
    }
    &__responsive{
        display: flex;
        flex-direction: column;
        & .container{
            display: flex;        
            height: 68px;
            width: 350px;
            align-items: center;
            background-color: #fff;
            margin: 1rem 0rem 1rem 0rem;
            padding: 5px 0px 5px 10px;
            border-radius: 1rem;
            overflow: hidden;
            cursor: pointer;

        
            .item{
                display: flex;
                flex-direction: row;
                justify-content: left;
                align-items: center;
                width: 150%;

                &__name{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    width: 300px;
                    transform-origin: 100% 50%;
                    transition: width 1000ms ease-in-out;
                    flex: 0 1 auto;

                    & > h3{
                        font-size: 18px;
                        font-weight: 700;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;

                    }
                    & > h4{
                        font-size: 15px;
                        font-weight: 400;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;

                    }
                }

                &__price{
                    font-size: 15px;
                    font-weight: 700;
                    padding-top: 1.5rem;
                    width: 100px;
                }                
            }     
        }
    }   
    
}

@keyframes fadein{
    from {
        opacity:0;
    }
    to{
        opacity:1;
    }
}

.btn2{
    border-radius: $btn2-radius;
    color: $btn2-color;
    background-color: $btn2-bg;
    border: none;
    height: 100px;
    width: 60px;
    transform-origin: 100% 50%;
    transform: translateX(0);
    transition: transform 1000ms 200ms ease-in-out;
    & > .fa-stack{
        transform: rotate(0);
        transition: transform 1000ms 400ms ease-in-out;
    }
}

.order{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 25vh;
    padding-top: 5vh;
}

.btn{
    height: 50px;
    width: 190px;
    font-size: 16px;
    color: #fff;
    transition: all 400ms ease-in-out;
    &--bg{
        background:  -webkit-linear-gradient(lighten($secondary-color, 5) 10%, lighten($primary-color, 20) 100%);
    }
    &--radius{
        border-radius: $btn-radius;
    }
    &--border{
        border: none;
    }
    &--shadow{
        box-shadow: $btn-shadow;
    }
    &:hover{
        opacity: 0.5;
        box-shadow: $btn-shadow;
    }
}



.container:hover > .item{    
    & .item__name{
            width: 230px;
        }

    & .btn2{
        transform: translateX(-45px);
        & .fa-stack{
            transform: rotate(2turn);
        }
    }
    
}



.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background-color: lighten(black, 20%);
    padding: $box-padding;
    & > h3{
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    &__responsive{
        display: flex;
        flex-direction: column;  

        & > .content{
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-bottom: 10px;
            & > p{
                font-size: 15px;
                margin-left: 10px;
            }

            & > .fa-solid{
                display: block;
                width: 15px;
            }
        }


        & > p{
            font-size: 15px;
            padding-bottom: 10px;
        }
        & a{
            color: white;
            text-decoration: none;
        }
    }
}
@media screen and (min-width : 375px){
    .menu{
        align-items: center;
    }
}

@media screen and (min-width : 500px){

    .logo{
        width: 45%;
    }
   
    .footer__responsive{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 95%;
        justify-content: space-between;

    }
    
}



@media screen and (min-width : 765px){
    .logo{
        width: 40%;
    }
}

@media screen and (min-width : 990px){
    .logo{
        width: 35%;
    }
}

@media screen and (min-width : 1130px){
    .menu{ 
        &__responsive {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            & > .container{
                margin-right: 20px;
            }
        }
    }
}