$page-width: 375px; /*largeur de l'écran*/
$box-padding : 10px;
$label-padding : 0.8rem;
$card-label-border : 0rem 0rem 1rem 1rem;
$card-img-border : 1rem 1rem 0rem 0rem;
$card-shadow : rgb(153, 153, 153) 5px 5px 8px;
$btn-radius : 2rem;
$btn-shadow : #9356DC 5px 5px 3px;

$restaurant-name-padding : 10px;
$btn2-radius : 0rem 1rem 1rem 0rem;
$btn2-color : #7eeacf;
$btn2-bg: #7eeacf;

$primary-color: #9356DC;
$secondary-color:#FF79DA;
$tertiary-color:#7eeacf;
$label-bg-color: #fff;
$invit-bg-color: #F2F2F2;
$footer-bg-color: rgb(53,53,53);
$form-bg-color: rgb(223,223,223);
$page-1-bg: #FFFF;
$color-grey:#f6f6f6;
$color-black: #0000;


